.One{

    background-color: blueviolet;
    }
    .Two{
    text-align: center;
    }
    .Two2{
    text-align: center;
    }
    .Tango{
    text-align: center;
    }
    .Bravo{
    text-align: center;
    }